<div class="panel panel-default filterNormal">
  <div class="panel-heading">サイズから探す</div>
  <div class="panel-body">
    <ul class="list-unstyled clearfix">
      <% option_types.sizes.each do |size| %>
        <li>
          <%= link_to potepan_category_path(params[:id], size: size.name) do %>
            <%= size.presentation %><span><%= "(#{count_number_of_products(size.name)})" %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
