<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <%= render "potepan/shared/light_section", element: @taxon %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <%= render "filter_by_category", taxonomies: @taxonomies %>
          <%= render "filter_by_color", option_types: @option_types %>
          <%= render "filter_by_size", option_types: @option_types %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div class="row filterArea">
            <%= render "filter_by_sort" %>
            <%= render "filter_by_grid_or_list" %>
          </div>
          <%= render "main_panel", products: @products %>
        </div>
      </div>
    </div>
  </section>
  <%= render "potepan/shared/partners" %>
</div>
<%= render "potepan/shared/login_modal" %>
<%= render "potepan/shared/signup_modal" %>
